@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

@theme {
  --color-primary: lab(83.58% 24.15 3.32);
}

@layer components {
  .heading1 {
    @apply text-3xl font-semibold text-black;
  }

  .heading2 {
    @apply text-lg font-medium text-black;
  }

  .heading3 {
    @apply text-base font-medium text-black;
  }

  .sub-heading {
    @apply text-base font-normal text-gray-400;
  }
}

:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;

  /* custom scroll  */
  --sb-track-color: transparent;
  --sb-thumb-color: rgb(165, 160, 160);
  --sb-size: 14px;
}

#root {
  @apply relative mx-auto h-[100dvh] max-w-[600px] rounded-2xl border-2 border-black bg-white;
}

/* custom scroll  */
.custom-scroll {
  overflow: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: var(--sb-size);
}

.custom-scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 22px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 22px;
  border: 2px solid #ffffff;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@supports not selector(::-webkit-scrollbar) {
  .custom-scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

.otp input:placeholder-shown ~ div {
  position: absolute;
  background-color: oklch(59.2% 0.249 0.584);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  z-index: -1;
}

button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: oklch(65.6% 0.241 354.308);
}

.swiper-pagination-bullet {
  width: 24px;
  border-radius: 12px;
}

.valid {
  outline: 1.5px solid green;
  background-image: url("./assets/images/vaild-mark.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center right 8px;
}

.invalid {
  outline: 1.5px solid red;
  background-image: url("./assets/images/invaild.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center right 8px;
}

.loader {
  width: 54px;
  height: 54px;
  border: 8px solid #c7bfbf;
  border-bottom-color: oklch(52.5% 0.223 3.958);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
